.nav-header {
  background: #2196f3;
}

.menu {
  $width : 70%;
  $left : (100% - $width) / 2;

  a {
    padding : 24px 1rem;
    color : white;
    font-size: 14px;

    @media (min-width : $medium-break-point) {
      padding : 18px 1rem;
    }
  }

  .selected {
    position : relative;
    font-weight : bold;
  }

  .selected .menuLinkItem:after {
    content : '';
    display : inline-block;
    height : 2px;
    width : $width;
    background-color : white;
    position : absolute;
    padding-left : inherit;
    padding-right : inherit;
    background-clip : content-box;
    bottom : 6px;
    left : $left;
    right : 0;
  }
}

#branding {
  font-weight : bold;
  font-size : 16px;
  letter-spacing : 1px;
  padding : 24px 1rem 0;
  position : relative;
  z-index : 99;
  color: white;

  @media (min-width : $medium-break-point) {
    padding : 16px 2rem;
  }
}

.flex-center-small {
  align-items : center;
  justify-content : center;

  @media (min-width : $medium-break-point) {
    align-items : center;
    justify-content : flex-start;
  }
}
