.nav-header {
  background: #2196f3;
}

.menu {
  $width : 75%;
  $left : (100% - $width) / 2;

  a {
    padding : 24px 1rem 24px;
    color : white;
    font-size: 14px;

    @media (min-width : $medium-break-point) {
      padding : 16px 1rem;
    }
  }

  .menuLinkItem {
    position: relative;
  }

  .selected {
    position : relative;
    font-weight : bold;
  }

  .selected .menuLinkItem:after {
    content : '';
    display : inline-block;
    height : 2px;
    width : $width;
    background-color : white;
    position : absolute;
    bottom : -8px;
    left : $left;
  }
}

#branding {
  font-weight : bold;
  letter-spacing : 1px;
  padding : 24px 1rem 0;
  position : relative;
  z-index : 99;
  color: white;

  a {
    font-size: 19px;
    padding-bottom: 0;
  }

  @media (min-width : $medium-break-point) {
    padding : 10px 2rem;
    padding-left: 0;

    a {
      padding-bottom: 1rem;
    }
  }
}
